<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="sustainsys.saml2" type="Sustainsys.Saml2.Configuration.SustainsysSaml2Section, Sustainsys.Saml2"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--  
         Okta SAML2 Applications "Identity Provider Issuer" IDs 
         e.g. Identity Provider Issuer   http://www.okta.com/exkevi00p3efdgz8i0h7
                                                             |___________________|
                                                                       ID
    -->
    <add key="idp:BlueBrand"  value="exkevi00p3efdgz8i0h7" />
    <add key="idp:GreenBrand" value="exkevh5bwboaf29Fz0h7" />
    <add key="idp:OktaBrand"  value="exkevi6vmujaQtTJ10h7" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
  </system.web>
  <!-- 
       entityId=<Audience URI (SP Entity ID)>  
       returnUrl=<Single sign on URL (Use this for Recipient URL and Destination URL)> 
  -->
  <sustainsys.saml2 entityId="https://www.oktane2018.com/okta.clients.SAML2" returnUrl="https://oktane2018saml2.azurewebsites.net/Saml2/Acs">
    <nameIdPolicy format="EmailAddress"/>
    <identityProviders>
      <!-- 
           Blue Brand - Okta SAML2 Application that is linked to the Blue Brand Login Page
           entityId=<Okta SAML2 Application's "Identity Provider Issuer">
           metadataLocation=<Okta SAML2 Application's Identity Provider Metadata URL>
      -->
      <add entityId="http://www.okta.com/exkevi00p3efdgz8i0h7"
           metadataLocation="https://dev-217355.oktapreview.com/app/exkevi00p3efdgz8i0h7/sso/saml/metadata"
           allowUnsolicitedAuthnResponse="true"
           wantAuthnRequestsSigned="false"
           binding="HttpRedirect">
      </add>
      <!-- 
           Green Brand - Okta SAML2 Application that is linked to the Green Brand Login Page
           entityId=<Okta SAML2 Application's "Identity Provider Issuer">
           metadataLocation=<Okta SAML2 Application's Identity Provider Metadata URL>
      -->
      <add entityId="http://www.okta.com/exkevh5bwboaf29Fz0h7"
         metadataLocation="https://dev-217355.oktapreview.com/app/exkevh5bwboaf29Fz0h7/sso/saml/metadata"
         allowUnsolicitedAuthnResponse="true"
         wantAuthnRequestsSigned="false"
         binding="HttpRedirect">
      </add>
      <!-- 
           Okta Unbranded - Okta SAML2 Application that uses Okta default Login Page
           entityId=<Okta SAML2 Application's "Identity Provider Issuer">
           metadataLocation=<Okta SAML2 Application's Identity Provider Metadata URL>
      -->
      <add entityId="http://www.okta.com/exkevi6vmujaQtTJ10h7"
         metadataLocation="https://dev-217355.oktapreview.com/app/exkevi6vmujaQtTJ10h7/sso/saml/metadata"
         allowUnsolicitedAuthnResponse="true"
         wantAuthnRequestsSigned="false"
         binding="HttpRedirect">
      </add>
    </identityProviders>
    <serviceCertificates>
      <add fileName="~/App_Data/Sustainsys.Saml2.Tests.pfx" />
    </serviceCertificates>
  </sustainsys.saml2>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
