/*****************************************************************************************/
/*                      Blue Brand Style File                                             */
/*****************************************************************************************/

#header {
    background: url("images/Blue/top-header.png") repeat-x scroll left top transparent;
    height: 68px;
}

#header div.brandLogo {
    display: block;
    /*margin: 5px 10px 0px;
    width: 180px;*/
    margin: 5px 5px 0px;
    width: 150px;
    background: url("images/Blue/Blue_logo.png") no-repeat scroll left top transparent;
    height: 55px;
    text-indent: -999999px;
    float: right;
	position: absolute;
	top: 0px;
	/*right: 20px;*/
    right: 10px;
}

#header div.appHeading {
    padding: 10px 0px 0px 10px;
    font-size: 22px;
    font-weight: bold;
    color: #FFF;
}
#header div.appHeading h3 {
    font-size: 16px;
    font-weight: bold;
    color:#FFF;
}
.btn{
  background-color: #0D2240; /*rgb(13, 34, 64)*/
}

.row-fluid {
    word-wrap: break-word;
}


/**************OKTA Sign-in Widget Brand specific Style ***********************/
body {
    background-image: url("images/Blue/homepagebackground.jpg");
    background-repeat: no-repeat;
    background-position: center center;            
    background-size: cover;
    background-color:transparent;
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;    
}

#okta-sign-in {
    padding:20px;
    color: #000000;    
}

.auth-content {
    padding:20px;
    background: rgb(173, 173,173);
    background: rgba(173, 173,173, .5);
    color: #000000;
}

#okta-login-container {
    border: none;
    border-color: none;
}

#okta-login-container .button {
    color: #ffffff;
    font-weight: 800;
    background-color: #0D2240;
    border-color: #ffffff; /*#3a3f44;*/
    background-image: linear-gradient(#0D2240, #0D2240 60%, #0D2240);
    background-repeat: no-repeat;
    filter: none;    
}

a {
    color: #ffffff;
    font-weight: 400;    
}
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #ffffff; 
    font-weight: 400; 
}
a:hover,
a:focus {
    text-decoration: underline;
    color: #ffffff;
    font-weight: 400; 
}
/*********************OKTA Sign-in Widget - end **********************************/
html { 
    /*background: url(images/Blue/homepagebackground.jpg) no-repeat center center fixed; */  
    background-size: cover;
}

body {
    background-color: transparent;
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #676A6C;
}

.btn-default{
    color: #FFF;
}

#appNameId 
{
    text-decoration: underline;
}

.outerContainer{
    /*background-color: #fff;*/
    background-color:transparent;
    height: 700px;
}
.innerContainer{
    background: rgb(173, 173,173);
    background: rgba(173, 173,173, .5);
	margin: 25px 18%;
	padding:20px;
	/*color:#fff;*/
    color:#000000;
}

.loginInnerContainer{
    margin: 0% 15% 0% 5%;
    padding: 4% 0%;
}
.imageClass img{
    border: 1px;
    border-radius: 10px;
    width: 85%;
    /*height: 200px;*/
    margin: 30px 0px;
}
label {
	/*color:#fff;*/
    color: #000000;
    display: inline-block;
    font-weight: 500 !important;
    margin-bottom: 5px;
    max-width: 100%;
	font-size: 12px;
}

.mediaClass{
    font-size:14px;
    /*border-right: 1px solid rgb(238, 238, 238);*/
}
#footer{
    position:fixed;
    bottom:0px;
    left:0px;
    height:50px;
    background-color:#eeeeee;
    width:100%;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

#header div.appHeading {
    padding: 10px 0px 0px 10px;
    font-size: 22px;
    font-weight: bold;
    color: #FFF;
}
i{
    margin-right: 10px;
}

#footer p.copyRight {
    color: #B2AEAE;
    margin-right: 25px;
    width: 370px;
    float: left;
    padding-left: 5px;
}
#contacts {
    padding-left: 24px;
    float: right;
    margin: 0px 5px 1px 0px;
    overflow: hidden;
    height: 30px;

}
.unorderList{padding: 10px 0 0 20px;}
.appHeading h3{margin-top:15px;}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {   
 
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {   
}
/*--------------------------iPad and mobile------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
.innerContainer {
    background: rgb(173, 173,173);
    background: rgba(173, 173,173, .5);
    margin: 25px 5%;
    padding:20px;
}
.loginInnerContainer {
    margin: 0% 15% 0% 5%;
    padding: 4% 0%;
}
#header div.brandLogo {
    display: block;
    margin: 1px 2px 0px;
    width: 150px;
    background: url("images/Blue/Blue_logo.png") no-repeat scroll left top transparent;
    height: 55px;
    text-indent: -999999px;
    float: right;
    position: absolute;
    top: 0px;
    right: -20px; 
    background-size: 70%;
    margin-top: 15px;
}	
 
}

@media (max-width: 767px) {
h3{  line-height: 1.5;}
#header div.brandLogo {
    display: block;
    margin: 1px 2px 0px;
    width: 150px;
    background: url("images/Blue/Blue_logo.png") no-repeat scroll left top transparent;
    height: 55px;
    text-indent: -999999px;
    float: right;
    position: absolute;
    top: 0px;
    right: -20px; 
    background-size: 70%;
    margin-top: 15px;
}
.innerContainer {
    background: rgb(173, 173,173);
    background: rgba(173, 173,173, .5);
	margin: 25px 1%;
	padding:20px;
    margin-left: 8%;
}
.loginInnerContainer {
    margin: 0% 0%; 
    padding: 10% 0%;
    margin-left: 8%;
}

.logininputClass h3 {
    font-size: 22px;
    margin: 20px 0;
    margin-top: 0;
}
.mediaClass{
    /*margin: 0px 32px;*/
    margin-bottom:20px;
    font-size:12px;
    /*border-right: 0px solid rgb(238, 238, 238);*/
}

#footer{
}
.mediaclasscontent {
    display:none;
}

#footer p.copyRight {
    color: #B2AEAE;
    margin-right: 25px;
    width: 370px;
    float: left;
    padding-left: 5px;
    display: none;
}
#contacts {
    /*padding-left: 80px;*/
    text-align:center;
    float: none;
    margin: 0px 5px 1px 0px;
    overflow: hidden;
    height: 30px;
}

.imageClass{
    display:none;
}
.outerContainer{
    height: 700px;
}

.appHeading h3 {
    margin-top: 15px;
    font-size: 20px;
}
.unorderList{padding-left: 15px;}
}

@media (max-width: 373px) {
#header div.brandLogo {
    display: block;
    margin: 1px 2px 0px;
    width: 150px;
    background: url("images/Blue/Blue_logo.png") no-repeat scroll left top transparent;
    height: 55px;
    text-indent: -999999px;
    float: right;
    position: absolute;
    top: 0px;
    right: -20px; 
    background-size: 70%;
    margin-top: 15px;
}
	
}

@media (max-width: 480px) {
	h2 {font-size: 20px;}
	
#header div.brandLogo {
    display: block;
    margin: 1px 2px 0px;
    width: 150px;
    background: url("images/Blue/Blue_logo.png") no-repeat scroll left top transparent;
    height: 55px;
    text-indent: -999999px;
    float: right;
    position: absolute;
    top: 0px;
    right: -20px; 
    background-size: 70%;
    margin-top: 15px;
}

}
/*-----------------------------------------------------------------------------------*/