@if (Request.IsAuthenticated)
{
    <text>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text">
                @{ var nameClaim = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("name");
                    if (nameClaim != null)
                    {
                        var name = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("name").Value;
                        <span>Hello, @name</span>
                    }
                }
            </li>
            <li>
                @Html.ActionLink("Sign-Out", "Index", "SignOut")
            </li>
            <li class="navbar-text">
                @{ var brandClaim = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("brand");
                    if (brandClaim != null)
                    {
                        var brand = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("brand").Value;
                        if (brand == "BLUE")
                        {
                            <img src="~/Images/blue.png" />
                        }
                        else if (brand == "GREEN")
                        {
                            <img src="~/Images/green.gif" />
                        }
                        else if (brand == "OKTA")
                        {
                            <img src="~/Images/Okta.png" />
                        }
                    }
                }
            </li>
        </ul>
    </text>
}

